
.dashboard-title{
height: 190px;
    padding-top: 20px;
}
.dashboard-box{
     width: 100%;
        height: 150px;

        
}


    .stack-top{
      position: relative;
      top: -115px;
      left: 30px;
    }

.dashboard-title h4{
       color: black;


    font-size: 23px;
    padding: 10px 33px;
}


.dashboard-content {
    width: 94%;
    height: 160px;
    background-color: rgb(255, 255, 255);
   box-shadow: 0 0 10px rgb(226, 226, 226);

}

.box-container{
    display: flex;
    justify-content: space-around;

}
.inner-box{
    margin-top: 2rem;

    box-shadow: 0px 0px 2px 2px rgb(226, 226, 226);
    box-shadow: 0 0 20px rgb(226, 226, 226);
    width: 144px;




}

.inner-box p{
    color: #282827;
     font-size: 16px;
}


.dashboard-body{

    display: flex;

    margin: 8rem 0 2.5rem 0;
    /* justify-content: space-between; */
}

.recent-work{
    width: 60%;
    background-color: #f4f5f8;
    border: 2px;
    height: 300px;
    margin: 45px;
}
.recent-work p{
    font-size: 18px;
    padding: 21px;
    text-align: center;
    font-weight: 600;
}
.box1{
     margin: 20px;
     box-shadow: 0 0 10px #ffffff;
     background-color: #ffffff;
     height: 300px;
     border-radius: 10px;
}



.chart{
    width: 40%;

}
.chart p{
    font-size: 18px;
    padding: 21px;
    text-align: center;
    font-weight: 600;
}

.work-list{
    list-style: none;
}

.work-list li{
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
}


