.list-table {
  width: 95%;
  justify-content: center;
  margin: -0.5rem auto 0 auto;
}

.table-sort {
  width: 100%;

  border-spacing: 20px 29px;
  margin-top:1rem;

  margin-bottom: 2rem;
}

tr {
  font-size: 14px;
}

th {
  white-space: nowrap;
}

.modal {
  display: none;
}

th,
td {
  text-align: center;
  padding: 3px;
  /* height: 10px; */
}

.employee-list {
  box-shadow: 0px 1px 0px #e5e5e5;
}



.child-overlap {
  width: 97%;
  box-shadow: 0 0 5px #cde6f3;
  margin: auto;
  height: auto;
  background-color: #fff;
  position: relative;
  top: 1px;
}

.btn-grp {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.btn-grp a {
  text-decoration: none;
  font-size: 16px;
  color: black;
  padding: 10px;
}

/* Action details css style for edit,view delete */
a.details-btn {
  color: var(--bs-link-color);
  padding: 1vw;
  font-size: 18px;
}

td:last-child {
  display: flex;
}

a.edit-btn {
  padding: 1vw;
  font-size: 18px;
}

button.delete-btn {
  font-size: 18px;
  padding: 1vw;
  border: none;
  background: none;
  color: #c51313;
  cursor: pointer;
}

.modal {
  display: none;
}